<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="COM2Sniffer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <COM2Sniffer.Properties.Settings>
            <setting name="COM1Port" serializeAs="String">
                <value />
            </setting>
            <setting name="COM1Baud" serializeAs="String">
                <value />
            </setting>
            <setting name="COM2Port" serializeAs="String">
                <value />
            </setting>
            <setting name="COM2Baud" serializeAs="String">
                <value />
            </setting>
        </COM2Sniffer.Properties.Settings>
    </userSettings>
</configuration>